.container
{
    margin: 150px auto;
    width: 50%;
    padding: 8px;
}
img
{
    float: left;
    width: 300px;
    height: 400px;
    padding: 0 10px 0 0;
}
.text
{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}